<% provide(:title, 'About Us') %> <h1>About Us</h1>
<div class="center hero-unit">
<p>
	Mobile Software India, a mobile software development company think in Android, iOS, and Windows smartphones ways only. Though our team has developed and learnt profoundly using C++, Ruby, Ruby on Rails, Php, Python, Perl, NodeJS, AngularJS, BackboneJS, Hadoop, RDBMS, NoSQL, yet not keen to set up other development environment on his/her new MacBook Pro. 
</p>
</div>
